
.form-label {
    padding-top: 13px;
    padding-left: 15px;
}

.form-control {
    margin-left: 5px;
}

#addButton {
    margin: 10px
}

#allTasks{
    text-align: center;
}

#removeComplete {
    margin: 10px
}

.complete {
    background-color: green;
}