body {
    background-color: purple;
    color: whitesmoke
}



.form-label {
    padding-top: 13px;
    padding-left: 15px;
}

.form-control {
    margin-left: 5px;
}

#addButton {
    margin: 10px
}

.listHeader{
    text-align: center;
}

#removeComplete {
    margin: 10px
}

#req {
    margin-left: 8px;
}

.required {
    color: black;
    background-color: red;
}

.complete {
    color: green;
    text-decoration: line-through;
}